extends wrapper
 
block title
  | Riftwalker

block body
  md-content(layout='column' layout-fill)
    md-tabs(layout='column' layout-fill flex)

      md-tab(label='1. Select a Champion' layout='column' flex)
        md-tab-content(layout-fill flex)
          champion-selector(ng-controller='ChampionSelectorController' layout='column' layout-fill flex)

      md-tab(label='2. Select your Items')
        md-tab-content(layout-fill flex)
          itemset-form(ng-controller='ItemSetController' layout='column' layout-fill flex)

      md-tab(label='3. Review your Item Set')
        md-tab-content(layout-fill flex class='md-padding')
          h2 Under Construction
