extends wrapper
 
block title
    | Riftwalker

block body
    #pageContent
        #pageTitle Welcome to Riftwalker
        p.
            Welcome! This is a side project by DeliriumDrop for creating item sets for League of Legends while displaying statistics. It uses the official Riot API. While the app is not yet mature, feel free to contact me about how I plan to do this, or if you have any questions or suggestions. 
            #[a(href="riftwalker.html") Check out the app here].