h2 Item Set Form

ul(id='accordion' class='accordion')
  li(ng-repeat='item in itemTree' class='collapsed') 
    .link(ng-click='onOff=!onOff' ng-class='{on:onOff}') {{item.header.charAt(0).toUpperCase() + item.header.slice(1).toLowerCase()}}
    ul(class='submenu' ng-if='onOff==true')
      li(ng-repeat='tag in item.tags.filter(filterSORTINDEX)')
        a(href="#") {{tag}}

//- //- p {{itemBasic}}
//- .itemUnit(ng-repeat="item in itemTree")
//-   a(href='#' ng-click='selectTreeHeader(item)') {{item.header.charAt(0).toUpperCase() + item.header.slice(1).toLowerCase()}}
//-   
//- md-chips(ng-model='treeHeadersSelected')
//-   md-chip-template
//-     {{$chip.tags.filter(filterSORTINDEX).join()}}
//- {{treeHeadersSelected}}
