//- md-toolbar.pad-left(layout='row')
//-   h2 Select your Items
md-content.md-padding(layout-gt-sm='row' layout='column' flex)
  md-content(flex='20')
    .md-headline Item Categories
    ul.no-select(id='accordion' class='accordion' layout='column')
      li(ng-repeat='item in itemTree' class='collapsed') 
        .link(ng-click='onOff=!onOff' ng-class='{on:onOff}')
          span {{item.header.charAt(0).toUpperCase() + item.header.slice(1).toLowerCase()}}
          span.arrow-down(ng-class='{active:onOff, focus:onOff}') <i class="material-icons">keyboard_arrow_down</i>
        ul(class='submenu' ng-if='onOff==true')
          li.no-list-style.round-boxed(ng-repeat='tag in item.tags.filter(filterSORTINDEX)')
            a(ng-click='selectTreeTag(tag); treeTagsUpdated()') {{tag.charAt(0) + tag.slice(1).toLowerCase()}}
  
  md-content(layout='column' flex='50')
    md-chips(ng-model='treeTagsSelected' placeholder='Subcategory Filters' secondary-placeholder='Subcategory Filters')
      md-chip-template {{$chip.charAt(0) + $chip.slice(1).toLowerCase()}}  
      button(md-chip-remove='' ng-click='treeTagsUpdated(treeTagsSelected)' class='chip-remove-btn')
        md-icon(md-svg-icon='md-close')
    md-content(layout-padding)
      md-grid-list(md-cols="4" md-cols-gt-xs='8' md-cols-gt-md='11'
        md-row-height-gt-md='1:1' md-row-height='4:3' md-gutter='5px')
        md-grid-tile(md-colspan='1' ng-repeat='(key,value) in filteredItemData')
          md-grid-tile-header 
            img(ng-src='{{ getItemImage(value.image.full) }}') 
            
  md-content(flex='30')
    .md-headline Item Blocks
    md-content(layout='column')
      p Blocks would go here. Under Construction.
