extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        #pageTitle Riftwalker
        
        region-selector(ng-controller='RegionSelectorController')
        
        map-selector(ng-controller='MapSelectorController')
        
        champion-selector(ng-controller='ChampionSelectorController')
