extends wrapper
 
block title
  | rito pls
 
block body
  champion-selector(ng-controller='ChampionSelectorController')
  //- #pageContent(ng-app='riftwalkerApp')  
    //- #pageTitle Riftwalker
    //- itemset-form(ng-controller='ItemSetController')
    //- 
    //- region-selector(ng-controller='RegionSelectorController')
    //- 
    //- map-selector(ng-controller='MapSelectorController')
      
