extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        #pageTitle Riftwalker
        div(ng-controller='RegionSelectorController')
            select(name='regionSelect' id='regionSelect' ng-model='region.selectedRegion')
                option(value='') Please select a region
                option(ng-repeat="r in regions") {{r.region}}
            p Rurrent region: {{selectedRegion.region}}
