extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        
        //- #pageTitle Riftwalker
        
        champion-selector(ng-controller='ChampionSelectorController')
        
          //- itemset-form(ng-controller='ItemSetController')
          //- 
          //- region-selector(ng-controller='RegionSelectorController')
          //- 
          //- map-selector(ng-controller='MapSelectorController')
        
