extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        
        #pageTitle Riftwalker
        input(type="text" ng-model="sometext")
        h1 {{ sometext }}
        h1 {{ wow }}
        div
            ul(ng-controller='regSelCtrl')
                p.
                    test {{ test }} end of the test.
        div(ng-controller='ngAppDemoController')
        | I can add {{a}} + {{b}} = {{a + b}}
