extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        #pageTitle Riftwalker
        
        #regionBox(ng-controller='RegionSelectorController')
            p(id='regionLabel') Current region:
            select(name='regionSelect' id='regionSelect' ng-options='reg as reg.region for reg in regions' ng-model='selectedRegion')
            p {{selectedRegion}}

        #selectedChampionInformation(ng-controller='ChampionSelectorController')
            p selected region in champion: {{selectedRegion}}
            select(name='championSelect' id='championSelect' ng-options='v as v for (k, v) in championKeys' ng-change='changedChampionSelection(selectedChampion)' ng-model='selectedChampion')
            h2 {{selectedChampionData.name}}
            h2 {{selectedChampionData.key}}
            h3 {{selectedChampionData.title}}
            img(ng-if='selectedChampionData.image.full' ng-src='{{getChampionImage(selectedChampionData.image.full)}}')
            h3 {{selectedChampionData.enemytyps}}
            h3 {{selectedChampionData.blurb}}
            p {{selectedChampionData.lore}}


        #mapBox(ng-controller='MapSelectorController')
            p(id='mapLabel') Select a map {{selectedMap}}:
            select(name='mapSelect' id='mapSelect' ng-options='m as m.label for m in maps' ng-model='selectedMap')
            p Item Set Type: {{ itemSetType }}
            p Custom
                input(type='radio' ng-model='itemSetType' ng-value='itemSetTypes[0]')
            p Global
                input(type='radio' ng-model='itemSetType' ng-value='itemSetTypes[1]')

            select(name='modeSelect' id='modeSelect' ng-options='mo as mo.label for mo in gameModes' ng-model='selectedGameMode')
            p Game Mode: {{ selectedGameMode }}
                
