extends wrapper
 
block title
    | rito pls
 
block body
    
    #pageContent(ng-app='riftwalkerApp')
        
        #pageTitle Riftwalker
        
        itemset-form(ng-controller='ItemSetController')
        
        region-selector(ng-controller='RegionSelectorController')
        
        map-selector(ng-controller='MapSelectorController')
        
        champion-selector(ng-controller='ChampionSelectorController')
        
        p selected region in global: {{selectedRegion}} <br />
        
        
        
