@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import 'navbar';
@import 'util';


// * {
//  @extend %testing-border;
// }

body {
    font-family: $slabo-font;
    color: $color-secondary-1-0;
    background-color: $color-primary-1;
    margin: 0px auto;
}

#navbar {
    position: fixed;
    text-align: center;
    padding-top: 1em;
    padding-bottom:1em;
    border-bottom: thin dashed #000;
    width:100%;
    background-color: $color-secondary-1-1;
    z-index: 1;
}

#pageTitle {
    padding-top: 3em;
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;
    @media (max-width:600px) {
        padding-top: 64px;
        font-size: 2em;
    }
}

#pageSubtitle {
}

#pageContent {

    margin-left: 64px;
    p {
        width: 650px;
    }
    @media (max-width:600px) {
        font-size: .8em;
        text-align: left;
        margin-left: 0.5em;
        p {
            width: auto;
            font-size: 1em;
        }
    }
}

#pageItem{

}

.bold {
    font-weight: bold;
    color: $color-complement-0;
}
.timeRange {
    font-style: italic;
}
.bulletPoint {
    display: list-item;
    list-style-type: square;
    margin-left: 2em;
}
.spaceTopBottom {
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}
.indent {
    margin-left: 2em;
}


#logos {
    margin-top: 2em;
    margin-left: 64px;
    text-align: left;
    @media (max-width:600px) {
        text-align: center;
        margin-left: 0px;
    }
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: .2em;
    }
}

a {
    color: $color-secondary-1-4;
    &:hover{
        font-weight: 600;
    }
    &:active{
        color: $color-secondary-2-4;
    }
    @extend %fancy-link;
}

p {
    color: $color-complement-0;
}

#attribution {
    margin-top: 100px;
    margin-left: 64px;
    width: 650px;
    font-size: 0.6em;
    text-align: center;
    color: #000;

    @media (max-width:600px) {
        font-size: .8em;
        text-align: left;
        margin-left: 0.5em;
        width: auto;
        font-size: .7em;
    }
}

#footer {
    position: fixed;
    margin-right: 0.5em;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    text-align: right;
    color: #000;
}