@import url(http://fonts.googleapis.com/css?family=Roboto:300);
$roboto-font: 'Roboto', sans-serif;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$color-primary-0: #22FFA0;  // green
$color-primary-1: #A0FAD3;
$color-primary-2: #5AFDB7;
$color-primary-3: #00FF92;
$color-primary-4: #00D379;

$color-secondary-1-0: #31A2FF;  // blue */
$color-secondary-1-1: #A6D3F9;
$color-secondary-1-2: #65B8FD;
$color-secondary-1-3: #0B90FF;
$color-secondary-1-4: #0070CE;

$color-secondary-2-0: #86FF22;  // lime green */
$color-secondary-2-1: #CBFDA2;
$color-secondary-2-2: #A4FE5A;
$color-secondary-2-3: #74FF00;
$color-secondary-2-4: #6DF000;

$color-complement-0: #FF6122;   // orange red
$color-complement-1: #FFBDA3;
$color-complement-2: #FF895A;
$color-complement-3: #FF4900;
$color-complement-4: #FF4900;

// should go to a util css
%testing-border {
    border-style: dotted;
    border-width: 1px;
}

%textSpacing {
    text-align: left;
}


%fancy-link {
  position: relative;
  text-decoration: none;
  transition: all 1.15s ease-out;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background: $color-complement-4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover {
    transition: all 0.2s ease-out;
    &:before {
        visibility: visible;
        transform: scaleX(1);
    }
  }
}
